In [3]:
import pandas as pd
import numpy as np
import csv
import os

In [ ]:
csv_path=os.getcwd() + os.sep+"csv"

In [11]:
df =  pd.read_csv(os.path.join(csv_path,"Sniffer_Output_17_03_2022_hr_17_03.csv"))
df

                           Filename Sorted  index
0    2009-12-01-18-36-33_L5_rgb.jpg   good      0
1    2017-10-11-18-52-32_L8_rgb.jpg    bad      1
2    2014-02-05-18-53-15_L8_rgb.jpg   good      2
3    2003-10-14-18-23-57_L5_rgb.jpg   good      3
4    2013-12-12-18-47-38_L8_rgb.jpg   good      4
..                              ...    ...    ...
389  2018-11-24-18-46-00_L8_rgb.jpg    bad    389
390  2002-09-09-18-20-07_L5_rgb.jpg   good    390
391  2016-10-01-18-46-19_L8_rgb.jpg   good    391
392  2001-05-01-18-26-16_L5_rgb.jpg   good    392
393  2014-04-03-18-46-16_L8_rgb.jpg   good    393

[394 rows x 3 columns]

In [19]:
dataset_path=os.getcwd()+os.sep+"images"
labels=["good","bad"]
df =  pd.read_csv("Sniffer_Output_17_03_2022_hr_17_03.csv")
new_df.drop(['index'],axis=1,inplace=True)
new_df.to_csv("main.csv")
new_df

                           Filename Sorted
0    2009-12-01-18-36-33_L5_rgb.jpg   good
1    2017-10-11-18-52-32_L8_rgb.jpg    bad
2    2014-02-05-18-53-15_L8_rgb.jpg   good
3    2003-10-14-18-23-57_L5_rgb.jpg   good
4    2013-12-12-18-47-38_L8_rgb.jpg   good
..                              ...    ...
646      2021-09-21-19-04-08_S2.jpg    bad
647      2021-09-26-19-04-09_S2.jpg    bad
648      2021-10-01-19-04-08_S2.jpg    bad
649      2021-10-11-19-04-07_S2.jpg    bad
650      2021-12-15-19-04-20_S2.jpg    bad

[651 rows x 2 columns]